body{
    text-align:center;
}
.picgrid{
    width:400;
    height:620;
}
.images{
    width:20%;
    height:30%%;
}
#mycarousel{
background-color:dodgerblue;
}
#mycarousel img{
    height: 300px;
    margin-top:35px;
}
.carousel-inner p{
  margin-bottom:15px;
    margin-top:15px;
    color:white;
    font-size:20px;
}
#ending{
    width:500px;
    height:500px;
}
#end{
    background-color:cyan;
}
